bb RCDATA "bb.png"
bbb RCDATA "bbb.png"
bbw RCDATA "bbw.png"
bkb RCDATA "bkb.png"
bkw RCDATA "bkw.png"
blc RCDATA "blc.png"
bnb RCDATA "bnb.png"
bnw RCDATA "bnw.png"
bpb RCDATA "bpb.png"
bpw RCDATA "bpw.png"
bqb RCDATA "bqb.png"
bqw RCDATA "bqw.png"
brb RCDATA "brb.png"
brc RCDATA "brc.png"
brw RCDATA "brw.png"
bs RCDATA "bs.png"
lb RCDATA "lb.png"
rb RCDATA "rb.png"
tb RCDATA "tb.png"
tlc RCDATA "tlc.png"
trc RCDATA "trc.png"
wbb RCDATA "wbb.png"
wbw RCDATA "wbw.png"
wkb RCDATA "wkb.png"
wkw RCDATA "wkw.png"
wnb RCDATA "wnb.png"
wnw RCDATA "wnw.png"
wpb RCDATA "wpb.png"
wpw RCDATA "wpw.png"
wqb RCDATA "wqb.png"
wqw RCDATA "wqw.png"
wrb RCDATA "wrb.png"
wrw RCDATA "wrw.png"
//ws RCDATA "ws.png"
