// Chess Adventurer
adventurer_bb RCDATA "adventurer/bb.png"
adventurer_bb_a RCDATA "adventurer/bb_a.png"
adventurer_bb_b RCDATA "adventurer/bb_b.png"
adventurer_bb_c RCDATA "adventurer/bb_c.png"
adventurer_bb_d RCDATA "adventurer/bb_d.png"
adventurer_bb_e RCDATA "adventurer/bb_e.png"
adventurer_bb_f RCDATA "adventurer/bb_f.png"
adventurer_bb_g RCDATA "adventurer/bb_g.png"
adventurer_bb_h RCDATA "adventurer/bb_h.png"
adventurer_bbb RCDATA "adventurer/bbb.png"
adventurer_bbw RCDATA "adventurer/bbw.png"
adventurer_bkb RCDATA "adventurer/bkb.png"
adventurer_bkw RCDATA "adventurer/bkw.png"
adventurer_blc RCDATA "adventurer/blc.png"
adventurer_bnb RCDATA "adventurer/bnb.png"
adventurer_bnw RCDATA "adventurer/bnw.png"
adventurer_bpb RCDATA "adventurer/bpb.png"
adventurer_bpw RCDATA "adventurer/bpw.png"
adventurer_bqb RCDATA "adventurer/bqb.png"
adventurer_bqw RCDATA "adventurer/bqw.png"
adventurer_brb RCDATA "adventurer/brb.png"
adventurer_brc RCDATA "adventurer/brc.png"
adventurer_brw RCDATA "adventurer/brw.png"
adventurer_bs RCDATA "adventurer/bs.png"
adventurer_lb RCDATA "adventurer/lb.png"
adventurer_lb_1 RCDATA "adventurer/lb_1.png"
adventurer_lb_2 RCDATA "adventurer/lb_2.png"
adventurer_lb_3 RCDATA "adventurer/lb_3.png"
adventurer_lb_4 RCDATA "adventurer/lb_4.png"
adventurer_lb_5 RCDATA "adventurer/lb_5.png"
adventurer_lb_6 RCDATA "adventurer/lb_6.png"
adventurer_lb_7 RCDATA "adventurer/lb_7.png"
adventurer_lb_8 RCDATA "adventurer/lb_8.png"
adventurer_rb RCDATA "adventurer/rb.png"
adventurer_tb RCDATA "adventurer/tb.png"
adventurer_tlc RCDATA "adventurer/tlc.png"
adventurer_trc RCDATA "adventurer/trc.png"
adventurer_wbb RCDATA "adventurer/wbb.png"
adventurer_wbw RCDATA "adventurer/wbw.png"
adventurer_wkb RCDATA "adventurer/wkb.png"
adventurer_wkw RCDATA "adventurer/wkw.png"
adventurer_wnb RCDATA "adventurer/wnb.png"
adventurer_wnw RCDATA "adventurer/wnw.png"
adventurer_wpb RCDATA "adventurer/wpb.png"
adventurer_wpw RCDATA "adventurer/wpw.png"
adventurer_wqb RCDATA "adventurer/wqb.png"
adventurer_wqw RCDATA "adventurer/wqw.png"
adventurer_wrb RCDATA "adventurer/wrb.png"
adventurer_wrw RCDATA "adventurer/wrw.png"
adventurer_ws RCDATA "adventurer/ws.png"
// Chess Montreal
montreal_bb RCDATA "montreal/bb.png"
montreal_bb_a RCDATA "montreal/bb_a.png"
montreal_bb_b RCDATA "montreal/bb_b.png"
montreal_bb_c RCDATA "montreal/bb_c.png"
montreal_bb_d RCDATA "montreal/bb_d.png"
montreal_bb_e RCDATA "montreal/bb_e.png"
montreal_bb_f RCDATA "montreal/bb_f.png"
montreal_bb_g RCDATA "montreal/bb_g.png"
montreal_bb_h RCDATA "montreal/bb_h.png"
montreal_bbb RCDATA "montreal/bbb.png"
montreal_bbw RCDATA "montreal/bbw.png"
montreal_bkb RCDATA "montreal/bkb.png"
montreal_bkw RCDATA "montreal/bkw.png"
montreal_blc RCDATA "montreal/blc.png"
montreal_bnb RCDATA "montreal/bnb.png"
montreal_bnw RCDATA "montreal/bnw.png"
montreal_bpb RCDATA "montreal/bpb.png"
montreal_bpw RCDATA "montreal/bpw.png"
montreal_bqb RCDATA "montreal/bqb.png"
montreal_bqw RCDATA "montreal/bqw.png"
montreal_brb RCDATA "montreal/brb.png"
montreal_brc RCDATA "montreal/brc.png"
montreal_brw RCDATA "montreal/brw.png"
montreal_bs RCDATA "montreal/bs.png"
montreal_lb RCDATA "montreal/lb.png"
montreal_lb_1 RCDATA "montreal/lb_1.png"
montreal_lb_2 RCDATA "montreal/lb_2.png"
montreal_lb_3 RCDATA "montreal/lb_3.png"
montreal_lb_4 RCDATA "montreal/lb_4.png"
montreal_lb_5 RCDATA "montreal/lb_5.png"
montreal_lb_6 RCDATA "montreal/lb_6.png"
montreal_lb_7 RCDATA "montreal/lb_7.png"
montreal_lb_8 RCDATA "montreal/lb_8.png"
montreal_rb RCDATA "montreal/rb.png"
montreal_tb RCDATA "montreal/tb.png"
montreal_tlc RCDATA "montreal/tlc.png"
montreal_trc RCDATA "montreal/trc.png"
montreal_wbb RCDATA "montreal/wbb.png"
montreal_wbw RCDATA "montreal/wbw.png"
montreal_wkb RCDATA "montreal/wkb.png"
montreal_wkw RCDATA "montreal/wkw.png"
montreal_wnb RCDATA "montreal/wnb.png"
montreal_wnw RCDATA "montreal/wnw.png"
montreal_wpb RCDATA "montreal/wpb.png"
montreal_wpw RCDATA "montreal/wpw.png"
montreal_wqb RCDATA "montreal/wqb.png"
montreal_wqw RCDATA "montreal/wqw.png"
montreal_wrb RCDATA "montreal/wrb.png"
montreal_wrw RCDATA "montreal/wrw.png"
montreal_ws RCDATA "montreal/ws.png"